.LieuxDepot {
    background-color: #F5F5F5;
    width: 100%;
    min-height: 520px;
    position: relative;
    border: 1px solid #F5F5F5;
}
.LieuxDepot .LieuxDepot-Header {
    width: 90%;
    margin: 0px auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 175px;
}
.LieuxDepot .LieuxDepot-Header span {
    font-size: 25px;
    opacity: 0.9;
}
.LieuxDepot .LieuxDepot-Header select{
    width: 33%;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.LieuxDepot .AllLieuxDepot {
    width: 87%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}

