.Modelmessage
{
    width: 100%;
    display: flex;
    flex-direction: column;
   font-weight: 600;
}
.chiffrement
{
    width: 70%;
    background-color: rgb(53, 90, 55);
    color: white;
    font-size: 12px;
    margin: 10px auto;
    padding: 5px 10px;
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
}
.Modelmessage .model
{
    max-width: 70%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
}
.Modelmessage .incoming 
{
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 0px;
}
.Modelmessage .outgoing 
{
    align-self: flex-end;
    margin: 15px 0px;
}
.Modelmessage .outgoing  div
{
    padding: 5px 10px;
    background-color: rgb(0, 163, 77);
    border-radius: 15px 15px 0px 15px;
}
.Modelmessage .incoming i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    font-size: 2rem;
    border-radius: 50%;
    color: white;
    background-color: rgb(0, 163, 77);
    align-self: flex-start;
}
.Modelmessage .incoming  div
{
    max-width: 93%;
    padding: 5px 10px;
    background-color: white;
    border-radius: 15px 15px 15px 0px;
    margin-bottom:-15px ;
    align-self: flex-start;
    margin-left: 50px;
    color: black;
}
.ModelImage
{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}
.ModelImage img
{
    width: 200px;
    height: 100%;
    border-radius: 5px;
}
